/*body {*/
    /*background: url("img/background.jpg");*/
    /*background-size: 100%;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*font-family: "Times new Roman";*/
    /*font-size: 20px;*/
/*}*/

/*.main {*/
    /*width: 1282px;*/
    /*min-height: 800px;*/
    /*margin: 20px auto;*/
/*}*/

.banner {
    margin: 10px auto;
    width: 600px;
    height: 400px;
}

/*.registration-form{*/
    /*padding: 30px;*/
    /*width: 400px;*/
/*}*/

/*.clear {*/
    /*clear: both;*/
/*}*/